<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Own CSS Sheet-->
    <link rel="stylesheet" href="css/style.css">

    <script src="js/guess-what.js"></script>
    <title>GuessWhat</title>
</head>
<body>
    <h1 id="hw">Hello, World !</h1>
    <div>
        <input type="text" id="nickname">
        <button id="connexion_button">Connect</button>
    </div>
    <div>
        <input type="text" id="message">
        <button id="send_message">Send message</button>
    </div>
    <div>
        <input type="text" id="room">
        <button id="join_room">Join room</button>
        <button id="leave_room">Leave room</button>
        <button id="start_room">Start room</button>
    </div>
    <canvas id="canvas" width="640" height="480"></canvas>
</body>
</html>